<table class="table table-light table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">IBU</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{beer.nombre}}</th>
        <td>{{beer.Tipo}}</td>
        <td>{{beer.Precio}}</td>
        <td>{{beer.IBU}}</td>
        <td>{{beer.Stock}}</td>
      </tr>
      <tr>
        <th scope="row">{{beer2.nombre}}</th>
        <td>{{beer2.Tipo}}</td>
        <td>{{beer2.Precio}}</td>
        <td>{{beer2.IBU}}</td>
        <td>{{beer2.Stock}}</td>
      </tr>
      <tr>
        <th scope="row">{{beer3.nombre}}</th>
        <td>{{beer3.Tipo}}</td>
        <td>{{beer3.Precio}}</td>
        <td>{{beer3.IBU}}</td>
        <td>{{beer3.Stock}}</td>
      </tr>
    </tbody>
  </table>