<table class="table table-light table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">IBU</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{beer[0].nombre}}</th>
        <td>{{beer[0].tipo}}</td>
        <td>{{"$"+beer[0].precio}}</td>
        <td>{{"%"+beer[0].ibu}}</td>
        <td>{{beer[0].stock}}</td>
      </tr>
      <tr>
        <th scope="row">{{beer[1].nombre}}</th>
        <td>{{beer[1].tipo}}</td>
        <td>{{"$"+beer[1].precio}}</td>
        <td>{{"%"+beer[1].ibu}}</td>
        <td>{{beer[1].stock}}</td>
      </tr>
      <tr>
        <th scope="row">{{beer[2].nombre}}</th>
        <td>{{beer[2].tipo}}</td>
        <td>{{"$"+beer[2].precio}}</td>
        <td>{{"%"+beer[2].ibu}}</td>
        <td>{{beer[2].stock}}</td>
      </tr>
   
      
    </tbody>
  </table>