<table class="table table-light table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">IBU</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">La negra</th>
        <td>Porter</td>
        <td>$400</td>
        <td>%24.5</td>
        <td>107</td>
      </tr>
      <tr>
        <th scope="row">La Miel</th>
        <td>Honey</td>
        <td>$420</td>
        <td>%12.3</td>
        <td>140</td>
      </tr>
      <tr>
        <th scope="row">la ger</th>
        <td>lager</td>
        <td>$390</td>
        <td>%11.3</td>
        <td>138</td>
      </tr>
    </tbody>
  </table>